# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.venv/

# Test & coverage artifacts
.coverage
.tox/
.nox/
.pytest_cache/
.cache/
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Type checking
.mypy_cache/
.pyre/

# IDE & editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS files
.DS_Store

# Logs and local data
*.log
*.pot
*.mo

# Environment variables
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Azure DevOps pipelines
.azure-pipelines/

# Docker artifacts
*.dockerfile
**/Dockerfile

# Linting
.pylint.d/